version: '3.8'

services:
  api:
    build: .
    ports:
      - '3000:3000'
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://mongo:27017/demands
  mongo:
    image: mongo:6
    ports:
      - '27017:27017'
